<div class="container">
  <header class="jumbotron">
    <h1>Liste des Cours</h1>
      </header>
<div *ngIf="currentUserInfo.id; else fixProfile">
       <div class="col-md-12" *ngIf="currentUser && currentUser.user.type==2;">
  <div class="card card-container" >
    

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
  
   <div class="form-group">
        <label for="title">titre</label>
        <input
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="form.title"
          #title="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="title.errors && f.submitted"
        >
        </div>
      </div>
       <div class="form-group">
        <label for="description">Déscription</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="form.description"
          #description="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="description.errors && f.submitted"
        >
        </div>
      </div>
        <div class="form-group">
        <label for="hours">Nombre d'heures</label>
        <input
          type="text"
          class="form-control"
          name="hours"
          [(ngModel)]="form.hours"
          #hours="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="hours.errors && f.submitted"
        >
        </div>
      </div>
        <div class="form-group">
        <label for="file_name">Lien du cours</label>
        <input
          type="text"
          class="form-control"
          name="file_name"
          [(ngModel)]="form.file_name"
          #file_name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="file_name.errors && f.submitted"
        >
        </div>
      </div>
        <div class="form-group">
        <label for="starting_date">Date de début</label>
  
          <input type="text"
            placeholder="Date de début"
            class="form-control"
            name="starting_date"
            [(ngModel)]="form.starting_date"
          
          #starting_date="ngModel"
            bsDatepicker>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="starting_date.errors && f.submitted"
        >
        </div>
      </div>
              <div class="form-group">
        <label for="ending_date">Date de fin</label>

        <input type="text"
            placeholder="Date de fin"
            class="form-control"
            name="ending_date"
            [(ngModel)]="form.ending_date"
          
          #ending_date="ngModel"
            bsDatepicker>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="ending_date.errors && f.submitted"
        >
        </div>
      </div>
    
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Créer un cours
        </button>
      </div>
 
    </form>


  </div>
</div>


    <div class="container" *ngIf="currentUser">
    <div class="row">
        <div class="col-md-4"  *ngFor="let lesson of lessons; index as i;" style="padding: 20px;">
       <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{lesson.title}}</h5>
        <p class="card-text">{{lesson.description}}</p>
        <p class="card-text">{{lesson.hours}} heures</p>
        <p> 
          <small *ngIf="lesson.isEnrolled"> Vous êtes inscrit à ce cours</small>

        </p>

        <button href="#" class="btn btn-primary" *ngIf="!lesson.isEnrolled && currentUser.user.type==1" (click)="onEnroll(i)" style="margin: 10px;">S'inscrire</button>
        <button *ngIf="lesson.file_name" class="btn btn-primary" (click)="navigate(lesson.file_name)" style="margin: 10px;">Lien</button>

      </div>
    </div>
        </div>
  
	</div>
</div>
</div>
</div>
<ng-template #fixProfile>
<h2>Vous ne pouvez pas visualiser cette page avant de créer votre profile</h2>
<button class="btn btn-primary btn-block" href="/profile"  routerLink="/profile">
          Créer le profile
        </button>
</ng-template>