<div class="container">
  <header class="jumbotron">
    <h1>Liste des Étudiants</h1>
      </header>

    <div class="container" *ngIf="currentUserInfo.id; else fixProfile">
    <div class="row" *ngIf="students">
        <div class="col-md-6" *ngFor="let student of students; index as i;">
            <div  class="people-nearby">
              <div >
              <div class="nearby-user"  >
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img [src]="student.profile_picture" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5>                    <small *ngIf="currentUserInfo.id == student.id" >Mon profile :</small>
<a  class="profile-link">{{student.first_name}} {{student.last_name}}</a></h5>
                    <p>{{student.bio}}</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button class="btn btn-primary pull-right" *ngIf="currentUserInfo.id != student.id && currentUserInfo.type == 1 && student.isFriend==false" (click)="addFriendship(i)">Ajouter comme ami</button>
                                        <button class="btn btn-primary pull-right" *ngIf="currentUserInfo.id != student.id && currentUserInfo.type == 1 && student.isFriend==true" (click)="endFriendship(i)">Supprimer l'amitié</button>

                  </div>
                </div>
              </div>
              </div>
             
            </div>
    	</div>
	</div>
</div>

<ng-template #fixProfile>
<h2>Vous ne pouvez pas visualiser cette page avant de créer votre profile</h2>
<button class="btn btn-primary btn-block" href="/profile"  routerLink="/profile">
          Créer le profile
        </button>
</ng-template>
</div>