<div class="container" *ngIf="user; else loggedOut">
  <header class="jumbotron">
    <div class="row">
        <div class="col-md-6"*ngIf="user.userInfo">

    
            <img [src]="user.userInfo.profile_picture"  width="200px"  class="rounded-circle" />
    
        </div>
      <div class="col-md-6">
    <h3>
     Profile
    </h3>
<p>
    <strong>Email:</strong>
    {{ user.user.email }}
  </p>
    <div *ngIf="user.user.type==1; else professor">
      <p>
    <strong>type:</strong>
      Étudiant
    </p>

    <p>
    <strong>Prénom:</strong>
    {{ user.userInfo.first_name }}
  </p>

      <p>
    <strong>Nom:</strong>
    {{ user.userInfo.last_name }}
  </p>

       <p>
    <strong>À propos de moi:</strong>
    {{ user.userInfo.bio }}
  </p>

  <p>
    <strong>Date de naissance:</strong>
    {{ user.userInfo.birthdate | date }}
  </p>

  

    </div>
  



    </div>


    </div>
   
  </header>
  
  <div class="col-md-12">
  <div class="card card-container" >
    

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
  
   <div class="form-group">
        <label for="first_name">Prénom</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          [(ngModel)]="form.first_name"
          #first_name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="first_name.errors && f.submitted"
        >
        </div>
      </div>
       <div class="form-group">
        <label for="last_name">Nom</label>
        <input
          type="text"
          class="form-control"
          name="last_name"
          [(ngModel)]="form.last_name"
          #last_name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="last_name.errors && f.submitted"
        >
        </div>
      </div>
        <div class="form-group">
        <label for="bio">Bio</label>
        <input
          type="text"
          class="form-control"
          name="bio"
          [(ngModel)]="form.bio"
          #bio="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="bio.errors && f.submitted"
        >
        </div>
      </div>

        <div class="form-group" *ngIf="user.user.type==1">
        <label for="birthdate">Date de naissance</label>
     
           <input type="text"
            placeholder="Date de naissance"
            class="form-control"
            name="birthdate"
            [(ngModel)]="form.birthdate"
          
          #birthdate="ngModel"
            bsDatepicker>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="birthdate.errors && f.submitted"
        >
        </div>
      </div>
            <div class="form-group">
        <label for="profile_picture">Lien photo de profile</label>
        <input
          type="text"
          class="form-control"
          name="profile_picture"
          [(ngModel)]="form.profile_picture"
          
          #profile_picture="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="profile_picture.errors && f.submitted"
        >
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Mettre à jour
        </button>
      </div>

    </form>

  
  </div>
</div>

 
</div>




<ng-template #loggedOut>
  Please login.
</ng-template>

<ng-template #professor>

      <p>
    <strong>type:</strong>
      Professeur
    </p>

    <p>
    <strong>Prénom:</strong>
    {{ user.userInfo.first_name }}
  </p>

      <p>
    <strong>Nom:</strong>
    {{ user.userInfo.last_name }}
  </p>

       <p>
    <strong>À propos de moi:</strong>
    {{ user.userInfo.bio }}
  </p>
 


</ng-template>