<div class="container">
  <header class="jumbotron">
    <h1>Liste des Publications</h1>
      </header>

<div *ngIf="currentUserInfo.id; else fixProfile">

        <div class="col-md-12">
  <div class="card card-container" >
    

    <form
      name="form"
      (ngSubmit)="f.form.valid && onPubSubmit()"
      #f="ngForm"
      novalidate
    >
  
   <div class="form-group">
        <label for="title">titre</label>
        <input
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="form.title"
          #title="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="title.errors && f.submitted"
        >
        </div>
      </div>
       <div class="form-group">
        <label for="body_text">Text</label>
        <textarea
          type="text"
          class="form-control"
          name="body_text"
          [(ngModel)]="form.body_text"
          #body_text="ngModel"
        ></textarea>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="body_text.errors && f.submitted"
        >
        </div>
      </div>

       <div class="form-group">
    <label for="exampleFormControlSelect1">Cours associé</label>
  <select class="custom-select" [(ngModel)]="form.lesson" name="lesson" class="form-control"
          >
   <option value="">Choisir le cours</option>
   <option *ngFor="let lesson of lessons" [ngValue]="lesson">{{lesson.title}}</option>
</select>
  </div>
       
       
       
           
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Créer une publication
        </button>
      </div>

    </form>

   
  </div>
</div>



    <div *ngIf="content" style="padding-top: 100px;" >
    <div   *ngFor="let pub of content; index as i;">

<div class="row" style="padding-bottom: 10px;">
    <div class="col-md-12">
      <div class="card" style="background-color:black; color: white;">
  <div class="card-body">
    <div *ngIf="pub.author">
    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" [src]="pub.author.profile_picture" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Image Description">
    </div>
    <h5 class="card-title">{{pub.title}}</h5>
    <p class="card-text">{{pub.body_text}}</p>
    <div *ngIf="pub.lesson">
      <small>Cours associé :</small>
    <div class="card" style="color: black;">
      <div class="card-body" >
        <h5 class="card-title">{{pub.lesson.title}}</h5>
        <p class="card-text">{{pub.lesson.description}}</p>
        <p class="card-text">{{pub.lesson.hours}} heures</p>
       
        <button *ngIf="pub.lesson.file_name" class="btn btn-primary" (click)="navigate(pub.lesson.file_name)">Lien</button>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>
<p>

  <button *ngIf="activeCommentpub!=i;" class="btn btn-secondary" type="button" (click)="setPubForComment(i)" >
    Ajouter un commentaire
  </button>
</p>

    <form *ngIf="activeCommentpub==i;"
      name="commentForm"
      (ngSubmit)="a.form.valid && onCommentSubmit(pub.id)"
      #a="ngForm"
      novalidatec>

       <div class="form-group">
        <label for="body_text">Commentaire</label>
        <textarea
          type="text"
          class="form-control"
          name="body_text"
          [(ngModel)]="commentForm.body_text"
          #body_text="ngModel"
        ></textarea>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="body_text.errors && a.submitted"
        >
        </div>
      </div>
       
       
       
           
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Ajouter un commentaire
        </button>
      </div>
 
    </form>
<div style="padding-bottom: 50px;">
    <div  *ngFor="let comment of pub.comments; index as i;" >
   <div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="media g-mb-30 media-comment">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" [src]="comment.author.profile_picture" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Image Description">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{comment.author.first_name}} {{comment.author.last_name}}</h5>
<!--                 <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
 -->              </div>
        
              <p>{{comment.body_text}}</p>
        
      
            </div>
        </div>
    </div>
</div>
   </div>
    </div>
    </div>

    </div>
    </div>
    </div>
<ng-template #fixProfile>
<h2>Vous ne pouvez pas visualiser cette page avant de créer votre profile</h2>
<button class="btn btn-primary btn-block" href="/profile"  routerLink="/profile">
          Créer le profile
        </button>
</ng-template>
</div>

