<div class="col-md-12">
  <div class="card card-container" style="margin-top: 200px;">
  <h1 *ngIf="form.type==1">Inscription pour éleves</h1>
    <h1 *ngIf="form.type==2">Inscription pour professeurs</h1>

   <button *ngIf="form.type==1" class="btn btn-secondary" type="button" (click)="onChangeProfessor()"  >
    Je suis un professeur
    </button>
  <button *ngIf="form.type==2" class="btn btn-secondary" type="button" (click)="onChangeStudent()" >
    Je suis un éleve
    </button>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>




      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Vous êtes inscrit. veuillez vous connecter!
    </div>
  </div>
</div>